@import "tailwindcss";

@theme {
  --font-sans: 'Inter', 'sans-serif';

  --animate-blob: blob 7s infinite;
  --animate-wave: wave 1.2s ease-in-out infinite;
  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }

  @keyframes wave {

    0%,
    100% {
      height: 10px;
    }

    50% {
      height: 24px;
    }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transform: translate3d(0, 0, 0); /* Trigger GPU */
}

@utility gpu {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  will-change: transform;
}

@utility text-gradient {
  background: linear-gradient(to right, #6EE7B7, #3B82F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility mask-image-linear-gradient {
  mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent, black 10%, black 90%, transparent);
}

body {
  @apply bg-gray-900 text-white font-sans h-[100dvh] overflow-hidden relative selection:bg-cyan-500 selection:text-white;
}